*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgba(90, 88, 88, 0.11);

}

/*CABECERA*/
.container__cabecera{
    background-color: #ff0f1d;
    display: flex;
    justify-content: start;
}
.container__cabecera img{
    height: 70px;
    padding-top: 5px;
    padding-left: 30px;
}


/*FORMULARIO*/
.container__form{
    height: 400px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__form h3{
    padding-top: 180px;
    padding-bottom: 20px;
    text-align: start;
    color: #ff0f1d;
    font-size: 26px;
}
.container__form form{
    max-width: 500px;
    padding: 50px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.container__form input{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #ff0f1d;
    padding: 10px;
}

.boton{
    background-color: #ff0f1d;
    color: white;
    width: 50px;
    border-radius: 10px;
    height: 40px;
    font-weight: bold;
    font-size: 16px;
}